################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Drive System/v16
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cmake.db
/.vs/CMake Overview
